<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			Document
		</title>
		<script src="https://kit.fontawesome.com/62d6a78e4f.js" crossorigin="anonymous"></script>
	</head>
	<body>
		{% block name %}
			{% autoescape false %}
				<p>
					{{ post.title }}
				</p>
				<span>
					Posté le
					{{ post.day|date("d/m/Y") }}
				</span>
				<p>
					{{ post.content }}
				</p>
			{% endautoescape %}
			<a href=" {{ path('billets') }} ">
				Retour
			</a>
			{% if log is defined  %}
				<form action=" {{ path('post_comment', {'id': post.id }) }} " method='POST'>
					<input type="text" value="Votre commentaire" name='content'>
					<input type="submit" value="Envoyer">
				</form>
			{% endif %}
			<h2>
				Commentaires:
			</h2>
			<p>
			{{message}}
			</p>
			{% for comment in comments %}
				<p>
					le
					{{  post.day|date("d/m/Y") }}
					par
					{{comment.user_Name}}
					:
					{{ comment.content }}
					<span>
						{% if user_name == comment.user_Name  %}
							<a href=" {{ path('deleteComment', { 'id' : comment.id, 'id_post': post.id}) }} ">
								<i class="fas fa-times-circle"></i>
							</a>
			
						{% endif %}
						<a href=" {{ path('reportComment', { 'id_post': post.id, 'id_comment': comment.id}) }} ">
								Signalez
							</a>
					</span>
				</p>
			{% endfor %}
		{% endblock %}

	</body>
</html>
