<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
					<script src="https://kit.fontawesome.com/62d6a78e4f.js" crossorigin="anonymous"></script>

		<title>
			Document
		</title>
	</head>
	<body>
			{% block post %}
				
			{% endblock %}
			{% block form %}
				<form action=" {{ path('admin/update', {'id': post.id }) }} " method="post">
					<input type="text" value='{{ post.title }}' name='title' id="title">
					<input type="text" name="content" value=' {{ post.content }} ' id="content">
					<input type="submit" value="Envoyer">
				</form>
				<p>
					<a href=" {{ path('admin/delete', {'id': post.id}) }} ">
						SUPRIMER
					</a>
				</p>
				<p>
					<a href=" {{ path('admin') }} ">
						Retour
					</a>
				</p>
			{% endblock %}

		{% block comment %}
			{% for comment in comments %}
				<p>
					le
					{{  post.day|date("d/m/Y") }}
					par
					{{comment.user_Name}}
					:
					{{ comment.content }}
					<span>
							<a href=" {{ path('deleteComment', { 'id' : comment.id, 'id_post': post.id}) }} ">
								<i class="fas fa-times-circle"></i>
							</a>

					</span>
				</p>

			{% endfor %}
		{% endblock %}
		{% block tiny %}

			<script src='https://cdn.tiny.cloud/1/10krz54m4a1cvvgfg5ka98pl4ht4tgv3n7le0zcx9g9wpl72/tinymce/5/tinymce.min.js' referrerpolicy="origin"></script>
			<script>
				tinymce.init({selector: '#content'});
				tinymce.init({selector: '#title'});
			</script>
		{% endblock %}

	</body>
</html>
